<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>
<style>

</style>

<body>
    <div style="align-items: center;width:fit-content;justify-content:center;text-align:center">
        <img src="3545957e0573e0b82d1bdbed3c2ea3e9.gif">
        <h1 style="font-family: 'Special Elite', cursive;">Passoword are not matching</h1>
    </div>
</body>

</html>